{
   "extends": "stylelint-config-standard",
   "plugins": [
     "stylelint-scss",
     "@namics/stylelint-bem"
   ],
   "rules": {
     "selector-nested-pattern": "^&",
     "indentation": 4,
     "no-descending-specificity": null,
     "no-eol-whitespace": null,
     "declaration-empty-line-before": null,
     "plugin/stylelint-bem-namics": {
         "patternPrefixes":["b"],
         "helperPrefixes":[]
     }
   }
}