.b-menu {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $primary-color-dark;
    height: 80px;
    border-bottom: 1px solid $primary-color-light;
    margin: 0 auto;
}

.b-section {
    padding: 10px;
    padding-bottom: 40px;
    text-align: center;
}

.b-section__img {
    width: 40%;
    border-radius: 50%;
}
  
@media screen and (max-height: $primary-max-height) {
    .b-section__img {
        width: 25%;
    }
}

@media screen and (min-width: $primary-min-width) {
    .b-section__img {
        width: 25%;
    }
}

.b-container {
    width: 90%;
    overflow-x: auto;
    margin: 0 auto;
}
