.b-btn {
    font-size: 18px;
    text-decoration: none;
    color: $primary-color-light;
    border: 1px solid $primary-color-light;
    background-color: $primary-color-dark;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}
  
.b-btn:hover {
    background: $primary-color-light;
    color: $primary-color-dark;
    border: 1px solid $primary-color-dark;
}
